/****************** css for header **********************/
header{
	width: 100%;
	height: 100px;
	float: left;
	/*background-color: #E1DFDF;*/
	background-color: white;
}

header .banner{
	width: 579px;
	float: left;
	height: 100%;
	background-color: #FFFFFF;
	position: relative;
	border-right: 1px solid black;
}

header .banner img{
	width: 440px;
	height: 90px;
	top: 5px;
	bottom: 5px;
	position: absolute;
	left: 70px;
	right: 70px;
}

header .contact{
	width: 249px;
	border-right: 1px solid black;
	height: 70px;
	padding-left: 25px;
	padding-top: 30px;
	float: left;
	font-size: 80%;
	font-weight: bold;
	font-family: Helvetica,Arial;
	overflow: hidden;
	line-height: 17px;
	font-family: helvetica, arial;
	color: #868686;
	/*background-color: brown;*/
	text-align: left;
}

header .flag{
	margin-top: 37px;
	margin-left: 15px;
	height: 33px;
	width: 55px;
	float: left;
	background-color: orange;
}
header .flag img{
	width: 100%;
	height: 100%;
}

header .bangladesh{
	float: left;
	margin-top: 45px;
	margin-left: 15px;
	font-size: 12px;
}
/******************end of css for header***************************/
