/*html { 
	background: url(ship.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}*/

body{
	background-color: #CCCCCC;
	margin: 0 auto;
	font-family: helvetica, arial;
}

.container{
	width: 1265px;
	position: relative;
	margin: 0 auto;
}


.welcome-message-container{
	float: left;
	width: 1115px;
	height: auto;
	padding-left: 75px;
	padding-right: 75px;
	padding-top: 25px;
	padding-bottom: 50px;
	background-color: white;
	font-size: 14px;
	text-align: justify;
}





















